.container-products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards-presentacion{
    padding: 20px;
}
.row{
}
.img_init{
    height: 200px;
    width: 100%;
}
.img_present{
    height: 100vh;
    width: 100vh;
}
.container_product_present{
    height: 800px;
}
.btns_container{
    border: 1px black solid;
    display: flex;
    flex-flow: row wrap;
    border-radius: 20px;
    width: 250px;
    height: 180px;
    position: absolute;
    top: 200px;
    left: 1000px;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.pos_btns{
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}
.background-categorias{
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    background-color: black;
    width: 250px;
    height: 50px;
}
.titulos-categorias{
    position: relative;
    top: 5px;
}
.navigation-bar-final{
    position: fixed;
    z-index: 999;
    top: 0px;
}
body{
    position: relative;
    top:84px;
}