.container-products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.container-consolas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.cards-presentacion{
    padding: 10px;
}
/*.row{
}

.img_init{
    height: 300px;
    width: auto;
}
*/

.img_init{
    height: 200px;
    width: auto;
}

.img_init2{
    height: 175px;
    width: auto;
}

.img_present{
    height: 100vh;
    width: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.container_product_present
{
    /*height: auto;
    width: auto;*/
    align-items: center;
}
.btns_container{
    /*border: 1px black solid;*/
    display: flex;
    flex-flow: row wrap;
    /*border-radius: 20px;*/
    width: auto;
    height: 100%;
    position: relative;
    /*top: 20%;*/
    /*left: 1000px;*/
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 10px;*/
}
.input-perfect{
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    /*width: 60%;*/
}
.pos_btns{
    position: relative;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);*/
}

.background-categorias{
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px 0px 100px 0px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center;
    background-color: rgb(42, 42, 42);
    /*max-width: 100%;
    min-width: 28%;*/
    height: 100%;
    font-size: 1.5vw;
}
.titulos-categorias{
    position: relative;
    top: 5.5px;
}
.navigation-bar-final{
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;
}

body{
    position: relative;
    top: 84px;
}
.container-carrito{
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
    background-color: ghostwhite;
    display: flex;
    flex-flow: row wrap;
    /*border: 2px black solid;*/
    /*width: 100%;*/
    /*padding: 20px;*/
    /*border-radius: 20px;*/

}
.container-carrito-products{
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    border: 2px black solid;
    width: 100%;
    height: auto;
    /*border-radius: 30px;*/
    position: relative;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
}
.container-products-carrito-info{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    /*left: auto;*/
}
.cont-cant{
    position: relative;
    /*top: 20px;*/
}
.container-products-carrito-img{
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    padding: 0%;
    display: flex;
    justify-content: center;
    /*margin-right:40px;
    margin-left: auto;
    width: 100px;*/
}
.btn-delete-product{
    display: flex;
    position: relative;
    /*left: auto;*/
    justify-content: center;
    align-items: center;
    /*height: auto;*/
    padding: 0%;
}
.container-folio-products{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    /*left: 60px;*/
}
/*tmb este*/
.carrito-detalles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    /*margin-left: 40px;*/
    position: relative;
}
/*este*/
.container-pag-carrito{
    display: flex;
    flex-flow: row wrap;
    position: static;
    width: 50%;
    /*margin-left: 3%;*/
}
/*y este*/
.container-carrito-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-right: 3%;*/
    /*margin-left: auto;*/
    width: 50%;
    /*position: static;*/
    position: static;
}
.informacion-detalles-carrito{
    /*width: 100%;*/
    height: auto;
    position: relative;
}

.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transform: translate(50%, 50%);*/
}
.btn-carrito{
    /*border-radius: 20px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: none;*/
    /*background-color: yellow;*/
    cursor: pointer;
    transition: transform 0.1s ease;
    position: relative;
    /*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);*/
}
.btn-carrito:active
{
    transform: scale(0.94);
}
.barra-deslizable
{
    overflow-y: auto;
    position: relative;
}
.prod-card 
{
    display: flex;
    justify-content: center;
    width: auto;
}

.let-1
{
    border: 3.5px solid #212529;
    font-size: 2.8vw;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(2, 18, 82, 0.5);
}

.let-2
{
    border-radius: 100px 0px 100px 0px;
    border: 3.5px solid #212529;
    font-size: 2.4vw;
    background-color: red;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(2, 18, 82, 0.5);
}

.let-3
{
    border-radius: 100px 0px 100px 0px;
    border: 3.5px solid #212529;
    font-size: 2.4vw;
    background-color: #0d6efd;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(2, 18, 82, 0.5);
}

.let-4
{
    border-radius: 100px 0px 100px 0px;
    border: 3.5px solid #212529;
    font-size: 2.4vw;
    background-color: #212529;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(2, 18, 82, 0.5);
}

.let-5
{
    border-radius: 100px 0px 100px 0px;
    border: 3.5px solid #212529;
    font-size: 2vw;
    background-color: #ffc107;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(2, 18, 82, 0.5);
}

.maximo-pro
{
    color: #f8f9fa;
    background-color: red;
    border: 3.5px solid #212529;
}

.no-pro
{
    color: #f8f9fa;
    background-color: #198754;
    border: 3.5px solid #212529;
}
/*asi es como estaba antes en carrito 4.5rem*/
/*
.acomodar
{
    top: 0%;
    left: 50%;
    right: auto;
    max-width: 100%;
    min-width: 50%;
    position: relative;
    transition: top 0.3s ease;
}

@media (max-width: 768px)
{
    .acomodar
    {
        top: 85.7%;
        left: 0%;
        right: 0%;
    }
}*/

.acomodar
{
    top: 0%;
    left: 50%;
    right: auto;
    max-width: 100%;
    min-width: 50%;
    position: relative;
    transition: top 0.3s ease;
}

@media (max-width: 768px)
{
    .acomodar
    {
        top: 87.7%;
        left: 0%;
        right: 0%;
    }
}

.acomodar-foot
{
    top: 100%;
    position: absolute;
    /*position: relative;
    transition: top 0.3s ease;*/
}

@media (max-width: 768px)
{
    .acomodar-foot
    {
        top: 122.3%;
    }
}

/*
.acomodar-pro
{
    top: 0%;
    position: absolute;
}

@media (max-width: 768px)
{
    .acomodar-pro
    {
        top: 200%;
    }
}*/

  


  