.container-products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.row{
    padding: 10px;
}
.img_init{
    height: 200px;
    width: 100%;
}