#lettersform{
    text-align: center;
}
body{
    background-color: black;
}
#backgrnd{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
}
#barra{
    background-color: #F9DD19;
}
#vgsimg{
    padding: 10px;
    height: 85px;
    
}
.formul{
 position:absolute;
 top: 26%;
 background-color: #F9DD19;
 width: 50%;
 height: 50%;
 border-radius: 20px;
 
}
