#lettersform{
    text-align: center;
}
body{
    background-color: black;
}
#backgrnd{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    margin-top: 30px;
    border: solid 1px;
    border-radius: 20px;
}
#barra{
    background-color: #F9DD19;
}
#vgsimg{
    padding: 10px;
    height: 85px;
    
}
.formul{
 position:absolute;
 top: 26%;
 background-color: #F9DD19;
 width: 55%;
 border-radius: 20px;
 align-items: center;
 justify-content: center;
 border: 1px solid;
}
