#barra{
    background-color: #F9DD19;
    height: 80px;
}
#formu{
    background-color: #F9DD19;
    height: auto;
    position: absolute;
    z-index: 2;
    padding: 50px;
    border-radius: 10px;
    top: 8%;
    z-index: 2;
}
#formu h3{
    text-align: center;
}
#formu input{
    width: 300px;
}
#formu input[type="checkbox"]{
    width: 15px;
}
#contenedor{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
    height: 100%;
    width: 100%;
    background-image: url(img/wallpaper.jpg);
    background-size: cover;
    
}
#img{
    position: absolute;
    top: 5px;
    left: 620px;
}
#inbc{
    /*background-color: black;*/
    height: 86%;
    width: 45%;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}

/*#formu input{
    width: 98%;
    padding-top: 5px;
    padding-left: 1px;
    height: 25px;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    border: 1px black solid;
}